<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index ">
      <th scope="row">{{i + 1}}</th>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td *ngIf="getLoggedUserEmail() !== user.email"><button class="btn btn-edit"  (click)="editUser($event)">Edit</button></td>
      <td *ngIf="getLoggedUserEmail() !== user.email" ><button class="btn btn-danger" (click)="removeUser($event)">Remove</button></td>
      <td class="alert-success"*ngIf="getLoggedUserEmail() == user.email">To Ty</td>
      <td class="alert-success"*ngIf="getLoggedUserEmail() == user.email"></td>
    </tr>

  </tbody>
</table>
