<div class="row pt-5">
  <div class="col-md-8 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Logdin</h3>
      </div>
      <div class="card-body">
        <form id="formData" #userData="ngForm" (ngSubmit)="loginUser(userData.value)">
          <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="email" name="email" class="form-control" placeholder="email" ngModel>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" name="password" class="form-control" placeholder="password" ngModel>
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

