<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <span class="navbar-brand">{{title}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-center">
        <!-- Element wyswietlany gdy jestes zalogowany -->
        <a class="nav-link" *ngIf="apiService.loggedIn()" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mr-2 text-center">
        <!-- Element wyswietlany gdy nie jestes zalogowany -->
        <a class="nav-link bg-success text-white" *ngIf="!apiService.loggedIn()" routerLink="/login">Login</a>
      </li>
      <!-- Element wyswietlany gdy jestes zalogowany -->
      <li class="nav-item mr-2 text-center" *ngIf="apiService.loggedIn()">
        <a class="nav-link" routerLink="/userpanel">User Panel</a>
      </li>
      <!-- Element wyswietlany gdy masz odpowiednia role (USERS) -->
      <li class="nav-item mr-2 text-center" *ngIf="apiService.usersAccess()" (click)="apiService.getUsers()">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item mr-2 text-center">
        <!-- Element wyswietlany gdy jestes zalogowany -->
        <a class="nav-link bg-secondary text-white" *ngIf="apiService.loggedIn()" routerLink="/login" (click)="apiService.logoutUser()">Logout</a>
      </li>
      <li class="nav-item mr-2 text-center">
        <a class="nav-link bg-info text-white" routerLink="/information">Information</a>
      </li>
    </ul>
  </div>
</nav>
